@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline), serif;
}

@layer base {
  :root {
    --background: 120 60% 97.5%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 200 100% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 100% 94%;
    --secondary-foreground: 210 100% 40%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 5% 45.1%;

    --accent: 190 80% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 200 100% 50%;
    --radius: 0.75rem;

    --background-left: 350 100% 98%;
    --background-right: 350 100% 98%;
    --vector-fill-left: 0 80% 40%;
    --vector-fill-right: 0 80% 40%;
    --vector-stroke-left: 0 80% 40%;
    --vector-stroke-right: 0 80% 40%;

    --header-bg-left: 200 100% 90%;
    --header-bg-right: 200 100% 90%;
  }

  .dark {
    --background: 300 40% 9%;
    --foreground: 0 0% 98%;
    
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 200 100% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 190 80% 60%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 200 100% 60%;
    --radius: 0.75rem;

    --background-left: 350 20% 12%;
    --background-right: 350 20% 12%;
    --vector-fill-left: 0 80% 50%;
    --vector-fill-right: 0 80% 50%;
    --vector-stroke-left: 0 80% 50%;
    --vector-stroke-right: 0 80% 50%;

    --header-bg-left: 200 100% 90%;
    --header-bg-right: 200 100% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
    @apply text-foreground;
  }
}
