@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline), serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 240 10% 3.9%;
    --card: 60 56% 91%;
    --card-foreground: 240 10% 3.9%;
    --popover: 60 56% 91%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 345 100% 25.1%;
    --primary-foreground: 60 30% 96%;
    --secondary: 345 20% 85%;
    --secondary-foreground: 345 100% 25.1%;
    --muted: 60 20% 88%;
    --muted-foreground: 240 5% 45.1%;
    --accent: 26 47% 63%;
    --accent-foreground: 345 100% 25.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 345 100% 25.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --background-left: 270 100% 98%;
    --background-right: 340 100% 98%;
    --vector-left: 270 80% 90%;
    --vector-right: 340 80% 90%;
  }

  .dark {
    --background: 345 20% 10%;
    --foreground: 60 56% 91%;
    --card: 345 20% 10%;
    --card-foreground: 60 56% 91%;
    --popover: 345 20% 10%;
    --popover-foreground: 60 56% 91%;
    --primary: 60 56% 91%;
    --primary-foreground: 345 100% 25.1%;
    --secondary: 345 20% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 345 20% 15%;
    --muted-foreground: 60 30% 70%;
    --accent: 26 47% 63%;
    --accent-foreground: 345 100% 25.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 345 20% 25%;
    --input: 345 20% 25%;
    --ring: 26 47% 63%;
    
    --background-left: 270 20% 12%;
    --background-right: 340 20% 12%;
    --vector-left: 270 30% 25%;
    --vector-right: 340 30% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}
